.profile__name {
  margin: 0 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 19px;
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  padding-bottom: 14px;
  word-break: break-all;
}
@media (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    margin-right: 18px;
  }
}
