.places__place {
  background-color: #FFFFFF;
  min-height: 361px;
  border-radius: 10px;
  min-width: 282px;
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  overflow: hidden;
  position: relative;
}