.profile__name-edit {
  display: flex;
  align-items: baseline;
  min-width: 217px;
  justify-content: center;
  margin: 0 19px;
}
@media (min-width: 480px) and (max-width: 640px) {
  .profile__name-edit {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  .profile__name-edit {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .profile__name-edit {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .profile__name-edit {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (min-width: 1280px) {
  .profile__name-edit {
    justify-content: flex-start;
  }
}